{% extends 'base.html' %}

{% block content %}

  <head>
    <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script>
            let map;

            function initMap() {
                map = new google.maps.Map(document.getElementById("map"), {
                    center: {lat: 0.0, lng: 0.0},
                    zoom: 3,
                });
                var lat = Array();
                var lon = Array();
                var ip = Array();
                var latbef = null;
                var lonbef = null;
                var text = null;
                var lat_fin = Array();
                var lon_fin = Array();
                var ip_fin= Array();

                ip = {{ network|safe }};
                lat = ({{ lat|safe }});
                lon = {{ lon|safe }};

                console.log("Proba1")

                lat_fin.push(parseFloat(lat[0]))
                lon_fin.push(parseFloat(lon[0]))
                ip_fin.push(ip[0])


                for (var j = 1; j < ip.length; j++) {
                  var aux = -1;
                  for (var i = 0; i < ip_fin.length; i++) {
                    if ((parseFloat(lat[j]) == lat_fin[i]) & (parseFloat(lon[j]) == lon_fin[i])) {
                      aux = i;
                      break;
                    }
                  }

                  console.log(aux);

                  if (aux == -1) {
                    ip_fin.push(ip[j])
                    lat_fin.push(parseFloat(lat[j]))
                    lon_fin.push(parseFloat(lon[j]))
                  } else {
                    ip_fin[aux] = ip_fin[aux] + " | " + ip[j]
                  }
                }

                console.log(ip.length)

                console.log(ip_fin);
                console.log(lat_fin);
                console.log(lon_fin)

                for (var j = 0; j < ip_fin.length; j++) {
                  var myLatLng = {lat: lat_fin[j], lng: lon_fin[j]};
                  var text = ip_fin[j]

                  var marker = new google.maps.Marker({
                    position: myLatLng,
                    map,
                    title: text,
                    icon: {
                      labelOrigin: new google.maps.Point(16,64),
                      url: "https://drive.google.com/uc?id=0B3RD6FDNxXbdVXRhZHFnV2xaS1E"
                    },
                    label: {
                      text: text,
                      color: "black",
                      fontWeight: "bold",
                      fontSize: "15px"
                    }
                  });
                }

                marker.setMap(map);
            }
        </script>
      </head>
      <body>
        <div id="map" style="width:100%;height:90vh;"></div>
        <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
        <script
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCG9MOrb8kUbivw1tKrHSgM9NTqiXUmk_Y&callback=initMap&libraries=&v=weekly"
          async
        ></script>
      </body>
{% endblock %}
