/* Navbar */
.sidebar-navigation {
   display: inline-block;
   min-height: 100vh;
   min-width: 12rem;
   width: 12rem;
   height: 100vh;
   background-color: #313443;
   float: left;
   margin:0;
   font-family:'Lato',sans-serif;
   box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
   transition: all 0.4s;
   position: fixed;
   top: 48px;
   left: 0;	
}   


.sidebar-navigation ul {
	text-align: center;
	color: white;
	list-style:none;
	margin:0;
	padding:0;
}

.sidebar-navigation li {
	padding: 20px;
	cursor: pointer;
	transition: all ease-out 120ms;	
	text-decoration:none;
	border-bottom:1px solid white;
}

	
.sidebar-navigation li:hover {
	background-color: #efefef;
	color:black;
}	

.sidebar-navigation ul li.active {
	background-color: black;
	color:white;
}	

.sidebar-navigation span{
	margin:0;
	padding:0;
	text-transform:uppercase;
}

.change-menu{
   left:-150px;
}

.change-content{
   margin-left:0 !important;
}

.menu-btn {
  padding-left:10px;
  float:left;
  display: inline-block;
  cursor: pointer;
}


.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* packet-list */
#packet-table{
	float:left;
	width:100%;
	clear:none;
}
#packet-table_wrapper{
	clear:none;
	width:100%;
	float:left;
}

#info-table{
	float:left;
	width:100%;
	clear:none;
}

#info-table_wrapper{
	clear:none;
	width:85%;
	font-size:16px;
	float:left;
}

#upload{padding:10px;margin-left:100px;}

.filter-button{width:100%;color:white;background-color:#313443;transition:all 0.6 ease;}
.filter-button:hover {background-color:white;}

#packet-table tr:nth-child(even){background-color: #f2f2f2;}
#info-table tr:nth-child(even){background-color: #f2f2f2;}

#packet-table tr:hover {background-color: #ddd;}
#info-table tr:hover {background-color: #ddd;}

#packet-table th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  background-color:  #313443;
  color: white;
}

#table-container {width:85%;}

#info-table th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  background-color:  #313443;
  color: white;
}

.scapyTable{margin:20px;}

/* boton filtrado*/
.menu-filtrado {display:none;overflow:hidden;}
.menu-filtrado.active{display:block;overflow:hidden;}

.loggin {display:none;}
.loggin.active {display:block;}

.filter-container{width:15%;float:right;}
.filter-container div {clear:both;}
/*Lista de elementos pa filtrar*/
.filter { width:90%; height:auto;transition:all 0.5 ease;margin: 10px;padding:0;float:left;background-color:white;border:1px solid black;box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);}
.filter h4 {color:white;text-transform:uppercase;text-align:center;padding:8px;margin:0;float:left;background-color:black;width:100%;}
.filter ul {list-style:none;padding:0;}
.filter ul li {display:block;color:black;text-transform:uppercase;text-align:center;background-color:#fff;padding:2px;}
.filter ul li:hover {background-color:  #313443;cursor:pointer;color:white;box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);}


body{margin:0;padding:0;}

header {
 text-align:center;
 margin:0;
 padding:0;
 width:100%;
 position:fixed;
 top:0;
 left:0;
 background-color: #3E5BED;
 box-shadow: 1px 0 10px 0 rgba(89,98,115,.2);
}

.page-content{
  width: calc(100% - 12rem);
  margin-left: 12rem;
  margin-top: 4.8rem;
  transition: all 0.4s;
}

header h1 {
  margin:0;
  padding:4px;
  color:#efefef;
  font-family:'Lato',sans-serif;
}

.logo{float:left;text-align:center;width:90%;}

.session{float:left;width:auto;}

.session h4 {background-color:white;border-radius:10px;padding:4px;}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width:100%;
}


main {
   background-color:#efefef;
}


form {
  margin:0;
}

form p {
	float:left;
	margin-right:4px;
}

#ProgressBar {
  width: 100%;
  background-color: grey;
  display:none;
  margin:0;
  padding:0;
}

#Bar {
  width: 1%;
  height: 30px;
  background-color: green;
}

