header {
 background-color:lightblue;
}
 
 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width:100%;
}

 li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

form {
  margin:0;
}

form p {
	float:left;
	margin-right:4px;
}
