<!DOCTYPE html>
<html lang="es-es">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PcapInspector</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static " pcapinspector
    /css/style.css" %}" rel="stylesheet">
</head>
<body>
<header>
    <h1>PcapInspector</h1>
    <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'upload' %}">Upload</a></li>
        <li><a href="#">Detailed</a></li>
        <li><a class="nav-link" href="#">Map</a></li>
    </ul>
</header>
{% block content %}
{% endblock %}
</body>
</html>
