{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<script src="{% static "pcapinspector/js/filters.js" %}"></script>
<script>
$(document).ready( function () {
    $('#packet-table').DataTable({"sDom": '<"top">rt<"bottom"pfl><"clear">', "iDisplayLength": 10,"autoWidth": false});
    $('#table-container').width = "100%";
} );
</script>
<main>
	<!-- Filter Menu -->
	<div class="filter-container">
		<div class="filter">
			<h4>Protocols &#9660;</h4>
			<div class="menu-filtrado" id="filter-proto">
				<ul class="listado">
					<li>ALL</li>
					{% for proto in protos %}
					<li>{{proto }}</li>
					{% endfor %}
				</ul> 
			</div>
		</div>
		<div class="filter">
			<h4>IP Source &#9660;</h4>
			<div class="menu-filtrado" id="filter-ip-src">
				<ul class="listado">
					<li>ALL</li>
					{% for ip in ipsrc %}
					<li>{{ip }}</li>
					{% endfor %}
				</ul> 
			</div>
		</div>
		<div class="filter">
			<h4>IP Dest &#9660;</h4>
			<div class="menu-filtrado" id="filter-ip-dst">
				<ul class="listado">
					<li>ALL</li>
					{% for ip in ipdst %}
					<li>{{ip }}</li>
					{% endfor %}
				</ul> 
			</div>
		</div>
		<div class="filter">
			<h4>MAC source &#9660;</h4>
			<div class="menu-filtrado" id="filter-mac-src">
				<ul class="listado">
					<li>ALL</li>
					{% for mac in macsrc %}
					<li>{{mac }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="filter">
			<h4>MAC dest &#9660;</h4>
			<div class="menu-filtrado" id="filter-mac-dst">
				<ul class="listado">
					<li>ALL</li>
					{% for mac in macdst %}
					<li>{{mac }}</li>
					{% endfor %}
				</ul> 
			</div>
		</div>
		<div class="filter">
			<h4>Port src &#9660;</h4>
			<div class="menu-filtrado" id="filter-port">
				<ul class="listado">
					<li>ALL</li>
					{% for port in portsrc %}
					<li>{{ port }}</li>
					{% endfor %}
				</ul> 
			</div>

		</div>
		<div class="filter">
			<h4>Port dst &#9660;</h4>
			<div class="menu-filtrado" id="filter-port-dst">
				<ul class="listado">
					<li>ALL</li>
					{% for port in portdst %}
					<li>{{ port }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<!-- Table --> 
	<div id="table-container">
	<table id="packet-table">
		<thead>
			<tr id="table-header">
				<th>Time</th>
				<th>MAC src</th>
				<th>MAC dst</th>
				<th>IP src</th>
				<th>IP dst</th>
				<th>Port src</th>
				<th>Port dst</th>
				<th>Protocol</th>
				<th>Len</th>
			   </tr>
		</thead>
		<tbody>
		{% if all_packets %}
			{% for packet in all_packets %}
			  <tr id="{{ packet.frame_number}}">
				<td id="ftime">{{ packet.frame_time}}</td>
				<td id="ethsrc" class="{{ packet.eth_src }}">{{ packet.eth_src }}</td>
				<td id="ethdst" class="{{ packet.eth_dst }}">{{ packet.eth_dst }}</td>
				<td id="ipsrc" class="{{ packet.ip_src }}" >{{ packet.ip_src }}</td>
				<td id="ipdst" class="{{ packet.ip_dst}}" >{{ packet.ip_dst}}</td>
				<td id="portsrc" class="{{ packet.src_port}}" >{{ packet.src_port}}</td>
				<td id="portdst" class="{{ packet.dst_port}}" >{{ packet.dst_port}}</td>
				<td id="protocol" class="{{packet.protocol}}">{{ packet.protocol}}</td>
				<td>{{ packet.ip_len}}</td>
			  </tr>
			  {% endfor %}
		{% endif %}
		</tbody>
	</table>
	</div>
</main> 
{% endblock %}

