{% extends "base.html" %}
{% load staticfiles %}
{%block content%}

<div style="margin:20px;padding-top:10px;">

  {% if uploaded_file_url %}

    <p>El pcap {{uploaded_file_url}} ha sido cargado</p>

  {% else %}

    <h1>Pcap List</h1>

    {% if list_pcaps %}
      <ul>

        {% for pcap in list_pcaps %}
        <li>
          <a href="{% url 'select' pcap %}">{{pcap}}</a>
        </li>
        {% endfor %}



    </nav>
    {% else %}
      <p>There is no pcap</p>
    {% endif %}
  {% endif %}
</div>
{% endblock %}