{% extends "base.html" %}
{% load staticfiles %}
{%block content%}
<script src="{% static "pcapinspector/js/filters.js" %}"></script>
<script src="{% static "pcapinspector/js/pages.js" %}"></script>

<div style = "margin:20px;padding-left:20px;">

    <h1>Pcap List</h1>

    {% if list_pcaps %}
    <ul style="list-style-type:none;">

      {% for pcap in list_pcaps %}
      <li>
        {{pcap}}
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There is no pcap</p>
    {% endif %}
</div>
{% endblock %}