{% extends "base.html" %}
{% load staticfiles %}
{%block content%}
<script>
	$("#tab-report").addClass("active");
</script>
<div>
	<h1 style="padding:10px;background-color:black;color:white;">Report</h1>

	<div>
		<table class="scapyTable table" style="width:20%;float:left;">
			<thead>
				<th colspan="2" scope="col">Network Information</th>
			</thead>
			<tbody>
				<tr scope="row">
					<td>Gateway</td>
					<td>{% if netdata.gateway|length > 0 %} 
						{{ netdata.gateway }}
					    {% else %}
						No data has been recovered
					{% endif %}
					</td>
				</tr>
				<tr scope="row">
					<td>Root Bridge</td>
					<td>{% if netdata.root_bridge|length > 0 %} 
						{{ netdata.root_bridge }}
					    {% else %}
						No data has been recovered
					{% endif %}
					</td>
				</tr>
			</tbody>
		</table>
		<table class="scapyTable table" style="width:20%;float:left;">
			<thead>
				<th colspan="2" scope="col">VLANS</th>
			</thead>
			<tbody>
				{% for i in netdata.vlans %}
				<tr scope="row">
					<td>{{ i }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<table class="scapyTable table"  style="width:20%;float:left;">
			<thead>
				<th scope="col">SERVERS</th>
			</thead>
			<tbody>
				{% for i in netdata.servers %}
				<tr scope="row">
					<td>{{ i }}</td>
				</tr>
				{%endfor %}
			</tbody>
		</table>
		{% if netdata.cookie|length > 0 %}
		<table class="scapyTable table"  style="width:20%;float:left;">
			<thead>
				<th scope="col">COOKIE</th>
			</thead>
			<tbody>
				{% for i in netdata.cookie %}
				<tr scope="row">
					<td>{{ i }}</td>
				</tr>
				{%endfor %}
			</tbody>
		</table>
		{% endif %}
		<table class="scapyTable table"  style="width:20%;float:left;">
			<thead>
				<th colspan="2" scope="col">NETBIOS</th>
			</thead>
			<tbody>
				{% for key, value in netdata.netbios.items %}
				<tr scope="row">
					<td>{{key}}</td>
					<td>{{value}}</td>
				</tr>
				{%endfor %}
			</tbody>
		</table>
		<table class="scapyTable table" style="width:20%;float:left;">
			<thead>
				<th scope="col">USER AGENTS</th>
			</thead>
			<tbody>
				{% for i in netdata.user_agents %}
				<tr scope="row">
					<td>{{i}}</td>
				</tr>
				{%endfor %}
			</tbody>
		</table>
		<table class="scapyTable table" style="width:20%;float:left;">
			<thead>
				<th colspan="2" scope="col">DNS ANSWERS</th>
			</thead>
			<tbody>
				{% for key,value in netdata.dnsan.items %}
				<tr scope="row">
					<td>{{key}}</td>
					<td>{{value}}</td>
				</tr>
				{%endfor %}
			</tbody>
		</table>
		<table class="scapyTable table" style="width:20%;float:left;">
			<thead>
				<th scope="col">DNS QUESTIONS</th>
			</thead>
			<tbody>
				{% for i in netdata.dnsqd %}
				<tr scope="row">
					<td>{{i}}</td>
				</tr>
				{%endfor %}
			</tbody>
		</table>
		{% if netdata.alerts|length > 0 %}
		<table class="scapyTable table" style="width:20%;float:left;">
			<thead>
				<th scope="col">INFO</th>
			</thead>
			<tbody>
				{% for i in netdata.alerts %}
				<tr scope="row">
					<td>{{i}}</td>
				</tr>
				{%endfor %}
			</tbody>
		</table>
		{%  endif %}
	</div>
</div>
{% endblock %}